#h1 { 
  margin: 5%;
  top: 50%;
  left: 50%;
  padding-left: 40px;
  font-weight: bold;
  color: #00e500;
}

#h2 { 
  margin: 5%;
  top: 50%;
  left: 50%;
  padding-left: 40px;
  font-weight: bold;
  color: #FF0000;
}

html { 
  background: url(../imgs/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.transbox p {
  margin: 5%;
  top: 50%;
  left: 50%;
  font-weight: bold;
  color: #000000;
}

.container {
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
    width: 200px;
}